@import url("https://fonts.googleapis.com/css?family=Milonga");
@import url("https://fonts.googleapis.com/css?family=Michroma");
@import url("https://fonts.googleapis.com/css?family=Revalia");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  background: radial-gradient(circle, gray, #21262c, black);
  color: #000;
  font-size: 1.1rem;
  font-family: "Michroma", helvetica;
  font-weight: bold;
}

.wrapper {
  width: 30rem;
  height: 33rem;
  background-color: gray;
  display: grid;
  grid-template-rows: repeat(9, 1fr);
  grid-template-columns: repeat(5, 1fr);
  grid-gap: .9rem;
  border-radius: 1rem;
  border: .15rem solid #404040;
  border-top: -0.45rem solid #404040;
  -webkit-box-shadow: 0 0 4rem #000, 0 0 2rem #000 inset;
  -moz-box-shadow: 0 0 4rem #000, 0 0 2rem #000 inset;
  box-shadow: 0 0 4rem #000, 0 0 2rem #000 inset;
  padding: 1rem;
  grid-template-areas: "hd hd hd hd hd" "sc sc sc sc sc" "sc sc sc sc sc" "ac ce an pm md" "rt sq iv dv dv " "sv et ni ml ml" "fo fi sx sb sb" "vn to re pl pl" "lg ro dt eq eq";
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

#hd {
  grid-area: hd;
  font-family: "Revalia", helvetica;
  color: #374049;
  word-spacing: 1rem;
  letter-spacing: .1rem;
  font-size: 1.5rem;
}

#sc {
  grid-area: sc;
  font-family: "Michroma", helvetica;
  background-color: #0d0d0d;
  color: antiquewhite;
  border-radius: 1rem;
  border: 0.05rem solid #374049;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-direction: column;
  padding: 1rem;
  overflow: auto;
  text-overflow: ellipsis;
  -webkit-box-shadow: 0 0 1rem 0.01rem plum, 0 0 0.1rem 0.1rem #374049 inset;
  -moz-box-shadow: 0 0 1rem 0.01rem plum, 0 0 0.1rem 0.1rem #374049 inset;
  box-shadow: 0 0 1rem 0.01rem plum, 0 0 0.1rem 0.1rem #374049 inset;
}
#sc #sc1 {
  font-size: 1.5rem;
}
#sc #sc2 {
  font-size: .8rem;
  opacity: 0.9;
  color: pink;
}

#of {
  grid-area: of;
}

#ac {
  grid-area: ac;
}

#ce {
  grid-area: ce;
}

#bk {
  grid-area: bk;
}

#ng {
  grid-area: ng;
}

#rt {
  grid-area: rt;
}

#sq {
  grid-area: sq;
}

#iv {
  grid-area: iv;
}

#dv {
  grid-area: dv;
}

#sv {
  grid-area: sv;
}

#et {
  grid-area: et;
}

#ni {
  grid-area: ni;
}

#ml {
  grid-area: ml;
}

#fo {
  grid-area: fo;
}

#fi {
  grid-area: fi;
}

#sx {
  grid-area: sx;
}

#sb {
  grid-area: sb;
}

#vn {
  grid-area: vn;
}

#to {
  grid-area: to;
}

#re {
  grid-area: re;
}

#pl {
  grid-area: pl;
}

#ro {
  grid-area: ro;
}

#lg {
  grid-area: lg;
}

#dt {
  grid-area: dt;
}

#eq {
  grid-area: eq;
  background-color: #008080;
  -webkit-box-shadow: 0 -0.2rem 0.5rem 0.01rem #000;
  -moz-box-shadow: 0 -0.2rem 0.5rem 0.01rem #000;
  box-shadow: 0 -0.2rem 0.5rem 0.01rem #000;
  border-bottom: 0.3rem solid skyblue;
  transition: .1s all linear;
}
#eq:active {
  border-bottom: none;
  transform: translate(0, 0.3rem);
  color: skyblue;
  box-shadow: none;
}
#eq:hover {
  color: skyblue;
}

.dg {
  background-color: #006633 !important;
  border-bottom: 0.3rem solid #00e673;
  -webkit-box-shadow: 0 -0.2rem 0.5rem 0.01rem #000;
  -moz-box-shadow: 0 -0.2rem 0.5rem 0.01rem #000;
  box-shadow: 0 -0.2rem 0.5rem 0.01rem #000;
  transition: .1s all linear;
}
.dg:active {
  border-bottom: none;
  transform: translate(0, 0.3rem);
  color: #00e673;
  box-shadow: none;
}
.dg:hover {
  color: #00e673;
}

.op {
  background-color: dimgray !important;
  border-bottom: 0.3rem solid tomato;
  -webkit-box-shadow: 0 -0.2rem 0.5rem 0.01rem #000;
  -moz-box-shadow: 0 -0.2rem 0.5rem 0.01rem #000;
  box-shadow: 0 -0.2rem 0.5rem 0.01rem #000;
  transition: .1s all linear;
}
.op:active {
  border-bottom: none;
  transform: translate(0, 0.3rem);
  color: tomato;
  box-shadow: none;
}
.op:hover {
  color: tomato;
}

.three {
  background-color: maroon;
  border-radius: 1rem;
  -webkit-box-shadow: 0 -0.2rem 0.5rem 0.01rem #000;
  -moz-box-shadow: 0 -0.2rem 0.5rem 0.01rem #000;
  box-shadow: 0 -0.2rem 0.5rem 0.01rem #000;
  cursor: pointer;
  border-bottom: 0.3rem solid crimson;
  transition: .1s all linear;
}
.three:active {
  border-bottom: none;
  transform: translate(0, 0.3rem);
  color: crimson;
  box-shadow: none;
}
.three:hover {
  color: crimson;
}

.four {
  border-radius: 1rem;
  cursor: pointer;
}

.five {
  border-radius: 1rem;
  cursor: pointer;
}

.six {
  border-radius: 1rem;
  cursor: pointer;
}

.seven {
  border-radius: 1rem;
  cursor: pointer;
}

.eight {
  border-radius: 1rem;
  cursor: pointer;
}
